<%- include("header") %>

<div id="container">
    <header>
        <h1>Home</h1>
    </header>
    <div id="menu">
        <a href="/home">Főoldal</a>
        <a href="/profile">Profil</a>
        <a href="/stepadd">Lépés hozzáadása</a>
        <% if (user.rights == "admin") { %>
            <a href="/admin">Admin</a>
        <% } %>
        <div><a href="/logout">Log out</a></div>
    </div>
    <div id="content">
        <h1>Ödvözlés</h1>
        <p>Üdvözöllek az oldalamon! Ezen az oldalon képes leszel a lépéseid számlálására!</p>
    </div>
</div>

<%- include("footer") %>