<div id="opener">
    <div class="menu_icon"></div>
    <div class="menu_icon"></div>
    <div class="menu_icon"></div>
</div>
<header>
    <h1><%= cim %></h1>
</header>
<div id="menu" class="nem_lathato">
    <a href="/home">Főoldal</a>
    <a href="/profile">Profil</a>
    <a href="/steps">Lépés hozzáadása</a>
    <a href="/diagram">Diagram</a>
    <% if (user.rights=="admin" ) { %>
        <a href="/admin">Admin</a>
    <% } %>
    <a href="/logout">Log out</a>
</div>